{% load tagger %}
<link rel="stylesheet" type="text/css" media="all" href="{% media_url %}/css/gmstyle.css" />
<form class="xfolkentry" name="addForm" id="tagr_addForm" action="{% root_url %}/add/" method="get">
  <table>
    <tr><td>{{form.url.label_tag}}</td><td>{{form.url}}</td></tr>
    <tr><td>{{form.title.label_tag}}</td><td>{{form.title}}</td></tr>
    <tr><td>{{form.notes.label_tag}}</td><td>{{form.notes}}</td></tr>
    <tr><td>{{form.tags.label_tag}}</td><td>{{form.tags}}</td></tr>
    <tr><td>Recommended Tags</td><td id="tagr_tagsuggestion" width="588px">
        {% for tag in suggestedTags %}
        <span class="suggestedTag" name="{{tag}}">{{tag}}</span>{%if not forloop.last%} {%endif%}
        {%empty%}
        None
        {% endfor %}
    </td></tr>
    <tr><td>{{form.private.label_tag}}</td><td>{{form.private}}</td></tr>
    <tr><td /><td><input type="submit" value="save" /><input type="button" value="cancel" /></td></tr>
  </table>
  {{form.page}}
  {% csrf_token %}
</form>
