{% extends "base.html" %}{%load tagger%}
{%block scripts%}
   {%if tagcloud%}
      <!--[if IE]><script language="javascript" type="text/javascript" src="../../include/excanvas.js"></script><![endif]-->
      <script type="text/javascript" charset="utf-8" src="{%media_url%}/js/jquery.js"></script>
      <script type="text/javascript" charset="utf-8" src="{%media_url%}/js/jquery.sparkline.js" ></script>
      <script type="text/javascript" charset="utf-8" src="{%media_url%}/js/jquery-ui-p.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="{%media_url%}/js/jquery.event.wheel.js"></script>
      <script type="text/javascript" charset="utf-8" src="{%media_url%}/js/tagcloud.js"></script>
      <script type="text/javascript" charset="utf-8" src="{%media_url%}/js/timecloud.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
               $("#timecloud").timecloud({"timecloud":{{tagcloud|safe}},
                                          "start": -1,
                                          "sparklineStyle": { type:'line',
                                                              lineColor:'Navy',
                                                              height:'30px',
                                                              chartRangeMin: '0',
                                                              width:'300px' },
                                          "urlprefix": '{{baseurl}}{%if tags%}+{%endif%}'});
               });
      </script>
   {%endif%}
{%endblock%}

{%block rss%}
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{baseurl}}?format=atom">
{%endblock%}

{%block styles%}
   {%if tagcloud%}
    <link rel="stylesheet" type="text/css" media="all" href="{% media_url %}/css/tagcloud.css" />
   {%endif%}
{%endblock%}

{%block content%}
<br style="clear: both" />
{%if tagcloud %}
<div id="timecloud"></div>
{%endif%}
{%if tags%}
<ul class="tags">
{%for tag, link in tags%}
<li><a rel="tag" href="{{link}}">{{tag}}</a></li>
{%endfor%}
</ul>
{%endif%}

<div id="totalcontainer">{% include "paging.html" %}
<span id="total">{{total}}</span></div>
{% for item in items.object_list %}
<div class="xfolkentry">
  <div><a class="taggedlink" href="{{item.url}}">{{item.title|safe}}</a></div>
  <div class="description">{{item.notes|safe}}</div>
  <div class="meta">
    <span class="tagcontainer">
    {%for tag in item.tags%}
        {%if baseurl == '/' %}
        <a rel="tag" href="/t/{{tag}}">{{tag}}</a>
        {%else%}
        <a rel="tag" href="{{baseurl}}{%if tags%}+{%endif%}{{tag}}">{{tag}}</a>
        {%endif%}
    {%endfor%}
    </span>
    ... on {{item.created}}
  </div>
  {%if user.username == item.user %}
  <a href="{%root_url%}/edit/{{item.url|urlencode}}">Edit</a> | <a href="{%root_url%}/del/{{item.url|urlencode}}">Delete</a>
  {%endif%}
</div>
{%endfor%}
{% include "paging.html" %}
{%endblock%}
